<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>
<body>

    <nav class="navbar px-4 navbar-expand-lg container pt-4 border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="./midias/image-removebg-preview (1).png" alt="" width="120" height="40">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#Destaques">Destaques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#Posts">Posts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#Contato">Contato</a>
                    </li>
                </ul>
                <form class="d-flex align-items-center">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="background-color: #F4F4F5; border: none;">
                        <span class="input-group-text" style="border: none; background-color: #F4F4F5;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </span>
                    </div>
                </form>
                              
            </div>
        </div>
    </nav>

    <main class="container">
        <div class="p-4" id="Destaques">
            <div class="card text-bg-dark rounded-4">
                <div class="position-relative">
                    <img src="./midias/RTX-4090-Ti.jpg" class="card-img rounded-4" alt="..." >
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <div class="text-center" style="background-color: #4B6BFB; border-radius: 6px; width: 10vh;">
                            <p class="card-title" style="font-size: 12px;">Technology</p>
                        </div>
                        <p class="card-text">Rumor de RTX 5000 ganha forças; se...</p>
                        <p class="card-text"><small>August 09, 2023</small></p>
                    </div>
                </div>
            </div>
        </div>                    

        <div class="row p-4" id="Posts">
            <div class="col-md-6">
                <div class="card mb-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="./midias/homi.webp" class="img-fluid rounded-start-2" style="height: 100%;" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="./midias/homi.webp" class="img-fluid rounded-start-2" style="height: 100%;" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="./midias/homi.webp" class="img-fluid rounded-start-2" style="height: 100%;" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card mb-4" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                        <img src="./midias/homi.webp" class="img-fluid rounded-start-2" style="height: 100%;" alt="...">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row py-5">
            <div class="text-center">
                <button class="btn btn-danger w-25 h-100">Ver mais</button>
            </div>
        </div>
    </main>

    <footer>
        <div class="container p-4 border-top">
            <div class="row justify-content-center">
                <div class="col-md-3 text-center">
                    <div>
                        <p style="font-weight: bold;">Sobre</p>
                    </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div>
                        <p style="font-weight: bold;">Categorias</p>
                    </div>
                    <div>
                        <p>Lifestyle</p>
                        <p>Technology</p>
                        <p>Travel</p>
                        <p>Business</p>
                        <p>Economy</p>
                        <p>Sports</p>
                    </div>
                </div>
                <div class="col-md-3 text-center" id="Contato">
                    <div>
                        <p style="font-weight: bold;">Contato</p>
                    </div>
                    <div>
                        <p><a style="font-weight: bold; text-decoration: none; color: #000; " href="">Email:</a> felipedonato280@gmail.com</p>
                        <p><a style="font-weight: bold; text-decoration: none; color: #000; " href="">Telefone:</a> 55 51 998661432</p>
                        <p><a style="font-weight: bold; text-decoration: none; color: #000; " href="">Instagram:</a> @felipe.dsilveira</p>
                        <p><a style="font-weight: bold; text-decoration: none; color: #000; " href="">LinkedIn:</a> Felipe Donato Silveira</p>
                        <p><a style="font-weight: bold; text-decoration: none; color: #000; " href="">Git Hub:</a> @felipedonato280</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center">
                <img src="./midias/image-removebg-preview (1).png" style="width: 20vh;" alt="">
            </div>
        </div>
    </footer>

</body>
</html>